<%- include("../partials/header") %> 
<%- include("../partials/navbar")  %>     



<div class="container mt-5">

      <section class="mb-5">
        <h4 class="display-4">Login</h4>
      </section>
      <%- include("../partials/flash.ejs") %> 

      <form action="/login" method="POST" class="needs-validation" novalidate>

        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>       
          <div class="mb-3">
            <label for="Price" class="form-label">Password</label>
            <input type="text" class="form-control" id="password" placeholder="Enter password" name="password" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <button class="btn btn-primary">Login</button>
          <br><br>
          <a href="/register">Sign-Up</a>
      </form>

</div>


<%- include("../partials/footer") %> 
