<%- include("../partials/header") %> 
<%- include("../partials/navbar")  %>     



<div class="container mt-5">

      <section class="mb-5">
        <h4 class="display-4">Register</h4>
      </section>
      <%- include("../partials/flash.ejs") %> 


      <form action="/register" method="POST" class="needs-validation" novalidate>

        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" id="username" placeholder="Enter Userame" name="username" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="mb-3">
            <label for="Image" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Enter email address" name="email" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="mb-3">
            <label for="Price" class="form-label">Password</label>
            <input type="text" class="form-control" id="password" placeholder="Enter password" name="password" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <button class="btn btn-danger">Register</button>
      </form>

</div>


<%- include("../partials/footer") %> 
